@charset "UTF-8";

.container:after,
.row      :after {
  content:"";
  display:table;
  clear  :both
}

.introduction{
  font-size:1.3125em
}


@media(min-width:32.5em){
  body{
  text-rendering:optimizeLegibility
  }
 
  .meta-navigation,
  .main-header,
  .main-navigation,
  .content-wrapper,
  .main-footer{
    clear:both
  }

  .container{
    max-width:75em;
    width:100%;
    margin:0 auto;
    padding:0
  }

  .introduction{
    font-size:1.5em
  }
}

.meta-navigation li{
  float:left;
  width:16.6666667%;
  border-left:1px solid #273643;
  border-right:1px solid #11171d
}

.site-headline{ 
  float:left 
}

.options-bar{
  float:right;
  width:auto
}

.small-widget{
  width:48.93617%;
  float:left;
}

.slideshow 
.slides li{
  overflow:hidden;
  *zoom:1
}
.slide-code,
.slide-copy{
  float:left;
  width:50%;
  min-height:280px
}

.slide-code{
  position:relative;
  line-height:1.5
}

.introduction{
  text-align:center
}
