@charset "UTF-8";

.main-header,

.site-base   {
  background-image:linear-gradient(#1e415e 0%, #2b5b84 0%);
}

*{
  box-sizing:border-box
}

.top-bar{
  background-color:#1e2933;
  border-bottom:1px solid #1f3b47
}

.top-bar a{
  position:relative;
  display:block;
  color:#999;
  background:transparent;
  text-align:center;
  padding:.5em .75em .4em;
  font-size:1em;
  line-height:1.75em
}

.options-bar{
  width:100%;
  color:#000;
  border-top:1px    solid #2d3e4d;
  border-bottom:1px solid #070a0c;
  background-color:#1e2933;
  line-height:1em;
}

.account-signin {
  position:relative
}

.slideshow{
  margin:0 auto;
  max-width:61.25em;
  background:#1e2933;
  -webkit-box-shadow:inset 0 0 30px rgba(0,0,0,0.6);
  -moz-box-shadow:inset 0 0 30px rgba(0,0,0,0.6);
  box-shadow:inset 0 0 30px rgba(0,0,0,0.6)
}
.slide-code,
.slide-copy{
  text-align:left
}
.slide-code{
  overflow:auto;
  padding:1.25em 1.5em
}
.slide-code code{
  display:inline-block;
  color:#11a611
}
.slide-code code .comment{
  color:#666
}
.slide-code code .output{
  color:#ddd
}
.slide-copy{
  background:#1c3b56;
  padding:1.25em 2.5em
}
.slide-copy h1{
  color:#ffd343;
  font-size:1.3125em;
  font-family:SourceSansProBold,Arial,sans-serif
}

.row-title{
  border-top:5px solid #d4dbe1;
  padding:.75em 1em .5em
}

.small-widget{
  border-top:1px solid #e6e8ea;
}

.widget-title {
  font-size:1.50938em
}

.main-footer .jump-link,
.footer-links a{
display:block;
text-align:center;
padding:.5em .75em .4em
}

.main-footer{
clear:both;
color:#666;
background-color:#e6e8ea;
border-top:1px solid #d8dbde
}


.footer-links a{
color:#89b4d9;
font-family:Flux-Bold,SourceSansProBold,Arial,sans-serif;
font-size:1.125em
}

.copyright{
  clear:both;
  color:#75a8d3;
  font-size:.75em;
  text-align:center;
  margin-bottom:0
}

.copyright a{
  border-bottom:2px
  color:#75a8d3
}

.flex-slideshow .slides{
*zoom:1
}

.flex-slideshow .slides:after{
  content:"";
  display:table;
  clear:both
}
